
body{margin:0;}

#첫째 {padding:20px; background-color: #000066;}
#첫째 h1{margin:0; color: white;}
#첫째 h3{margin:0; color: white;}
#첫째 a{color:white; text-decoration: none;}

#둘째 {margin:0; padding:20px}
#둘째 ul{margin:0;}

#셋째 {display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  border: 2px solid gray; border-bottom: 1px solid gray;}
  .분류{background-color: rgb(220, 230, 241);
    border: 1px solid gray;
    padding: 1px; padding-top: 10px; padding-bottom: 10px;
    text-align: center;
    text-decoration: none; color: black;}

#넷째 {display: grid;
  grid-template-columns: auto auto;
  border: 2px solid gray; border-top: 1px solid gray;}
  .베스트{background-color: rgb(238, 236, 225);
  border: 1px solid gray;
  padding: 5px; padding-top: 10px; padding-bottom: 10px;
  text-align: center;
  text-decoration: none; color: black;}

#다섯째 {display: grid;
  grid-template-columns: auto auto;
  border: 2px solid gray; border-top: 1px solid gray;}
  .실베{border-right: 2px solid gray;}
